/* 
    Document   : game.css
    Created on : Feb 25, 2013, 2:18:57 PM
    Author     : camomile
    Description:
        Purpose of the stylesheet follows.
*/
body,html {
    height:100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
#container {
    height: 100%;
}
#alpha
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space:nowrap;
    font: 1.5em helvetica;
}

/***************************************************/
/**********************CHAT*************************/
/***************************************************/
#chat_container {
    position: relative;
    float: left;
    width: 250px;
    height: auto;
    height: 100%;
    min-height: 100%;
    padding: 10px;
    background-color: grey;
}
#log {
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    background-color: white;
    width: 92%;
    top: 10px;
    bottom: 70px;
}
#chatform {
    position: absolute;
    bottom: 15px;
    overflow: hidden;
}
#msg {
    width: 188px;
}
/***************************************************/
/**********************CANVAS***********************/
/***************************************************/
#canvas_container{
    background-color: #303030;
    position: relative;
    overflow: hidden;
    height: 100%;
}
